
    .pattern {
    background-image: radial-gradient(#D15353 30%, transparent 60%);
    }


    .flower {
        display: flex;
        justify-content: center;
        align-items: center;
    }

      
    .circle {
        border-radius: 50%;
        animation-name: breath;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        border: 1px solid black;
        position: absolute;
        opacity: 0;
    }
      
    .circle1 {
        width: 80px;
        height: 80px;
        animation-delay: 0.2s;
    }
      
    .circle2 {
        width: 180px;
        height: 180px;
        animation-delay: 0.4s;
    }
      
    .circle3 {
        width: 280px;
        height: 280px;
        animation-delay: 0.8s;
    }

    @keyframes breath {
        0% {
            opacity: 0;
        }
        
        40% {
            opacity: 1;
        }

        45% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
        
        
     }


    @media screen and (min-width: 500px ) {
        .pattern {
            background-image: radial-gradient(#D15353 30%, transparent 60%);
        }

        .flower {
            display: flex;
            justify-content: center;
            height: 100vh;
          }

        .circle {
            border: 2px solid black;
        }

        .circle1 {
            width: 180px;
            height: 180px;
        }
          
        .circle2 {
            width: 380px;
            height: 380px;
        }
          
        .circle3 {
            width: 580px;
            height: 580px;
        }
    
        
    }