
body {
  background: none;
}
  
  
  .pattern {
    background-image: radial-gradient(#4A8CAE 40%, transparent 60%);
  }


  .flower {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circle {
    border-radius: 50%;
    animation-name: breath;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    border: 1px solid black;
    position: absolute;
  }
  
  .circle1 {
    width: 100px;
    height: 100px;
    animation-delay: 0s;
    margin-left: 150px;
  }
  
  .circle2 {
    width: 100px;
    height: 100px;
    animation-delay: 0s;
    margin-bottom: 150px;
  }
  
  .circle3 {
    width: 100px;
    height: 100px;
    animation-delay: 0s;
    margin-right: 150px;

  }

  .circle4 {
    width: 100px;
    height: 100px;
    animation-delay: 0s;
    margin-top: 150px;

  }
  
  
  @keyframes breath {
    0% {
      transform: scale(0.8);
    }
    50% {
      transform: scale(1.4);
    }
    100% {
      transform: scale(0.8);
    }
  }

  @media screen and (min-width: 500px ) {

    .pattern {
      background-image: radial-gradient(#4A8CAE 40%, transparent 60%);
    }

    .flower {
      display: flex;
      justify-content: center;
      height: 100vh;
    }

    .circle1 {
      width: 500px;
      height: 500px;
    }
    
    .circle2 {
      width: 500px;
      height: 500px;
    }
    
    .circle3 {
      width: 500px;
      height: 500px;
    }
    
  }
