
.pattern {
  background-image: radial-gradient(#859D5E 30%, transparent 60%);
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 


.flower {
  margin-top: 100px;
  animation: floating 5s ease-in-out infinite;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 1px solid black;
}

@keyframes floating {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-50px);
  }

  100% {
    transform: translatey(0px);
  }
}

.flower-shadow {
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 30px;
  top: 20px;
  animation: expanding ease-in-out 5s infinite;
  border-radius: 50%;
  border: 2px solid black;
}

@keyframes expanding {
  0%,
  100% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(0.75);
  }
}



  @media screen and (min-width: 500px ) {

    .pattern {
      background-image: radial-gradient(#859D5E 30%, transparent 60%);
      height: 100vh;
    }

    .flower {
      height: 450px;
      width: 450px;
      border: 1.5px solid black;
    }

    .flower-shadow {
      width: 400px;
      height: 80px;
      border: 2.5px solid black;
    }

    
  }