
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

@font-face {
    font-family: 'pp_neue_montrealmedium';
    src: url('../assets/fonts/ppneuemontreal-medium-webfont.woff2') format('woff2'),
         url('../assets/fonts/ppneuemontreal-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root{
    --body-copy: 14px;
    --body-copy-line-height: calc(var(--body-copy)*1.2);

    --main-heading: 13vw;
    --main-heading-line-height: calc(var(--main-heading));
}

body {
    box-sizing: border-box;
    width: 90vw;
    margin: auto;
    padding: auto;
    animation-name: swap;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

/*BACKGROUND COLOR SWAP*/
@keyframes swap {
    0% {
		background: #4A8CAE;
	}
	16.6% {
		background: #859D5E;
	}
	33.2% {
		background: #D883A2;
	}
	49.8% {
		background: #D15353;
	}
	66.4% {
		background: #D7A253;
	}
	100% {
		background: #785986;
	}
}

/*ABOUT NAV*/
.about-circle {
    display: block;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-image: radial-gradient(white 0%, transparent 60%);
    margin-top: 2vh;
    margin-left: 70vw;
    animation-name: about-circle;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes about-circle {
    0% {
      transform: scale(0.6);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.6);
    }
}

/*MAIN NAV*/
.navigation {
    width: 70vw;
    margin: auto;
    padding: auto;
    font-family: 'pp_neue_montrealmedium';
    margin-top: 80px;
    font-size: var(--main-heading);
    color: white;
    text-decoration: none;
}


a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: white;
}

a:visited {
    color: black;
}

.navigation > p {
    margin-bottom: 50px;
    font-family: 'pp_neue_montrealmedium';
    font-size: var(--main-heading);
}


/*INDIVIDUAL PAGE SETUP*/
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 150px;
}

.flower {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.text {
    display: block;
    font-family: 'Source Code Pro', monospace;
    font-size: var(--body-copy);
    width: 80%;
    margin: auto;
    padding: auto;
}

h2 {
    text-decoration: underline;
    font-size: var(--body-copy);
    margin-top: 40px;
    margin-bottom: 0px;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.title {
    margin-top: 40px;
    margin-bottom: 0px;
}

.patterndesktop {
    display: none;
}


@media screen and (min-width: 500px ) {
    .content {
        flex-direction: row;
        margin-left: 10vw;
    }

    .about-circle {
        margin-top: 2vh;
        margin-left: 85vw;
        width: 150px;
        height: 150px;
    }

    .pattern {
        display: flex;
        width: 40vw;
        background-image: none;
    }

    .flower {
        display: flex;
        width: 100vw;
    }

    .text {
        display: flex;
        flex-direction: column;
        width: 20vw;
        margin-left: 15vw;
        margin-top: 70px;
    }

    .navigation {
        width: 90vw;
        height: 100vh;
        font-size: calc(var(--main-heading)/1.7);
        margin-top: 0px;
    }

    .navigation > p {
        font-size: calc(var(--main-heading)/1.7);
        margin-bottom: 0px;
    }

    
}