
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

@font-face {
    font-family: 'pp_neue_montrealmedium';
    src: url('../assets/fonts/ppneuemontreal-medium-webfont.woff2') format('woff2'),
         url('../assets/fonts/ppneuemontreal-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root{
    --body-copy: 14px;
    --body-copy-line-height: calc(var(--body-copy)*1.2);

    --main-heading: 13vw;
    --main-heading-line-height: calc(var(--main-heading));
}

body {
    box-sizing: border-box;
}

.navigation {
    width: 70vw;
    margin: auto;
    padding: auto;
    font-family: 'pp_neue_montrealmedium';
    margin-top: 150px;
    font-size: var(--main-heading);
}

.sticky {
    position: absolute;
    margin-left: 85vw;
    margin-top: 30px;
    font-size: 6vw;
} 

.sticky a{
    color: black;
    text-decoration: none;
}

a.sticky:visited{
    color: black;
    text-decoration: none;
}

.sticky:hover{
    transform: scale(1.5);
    transition: transform .5s ease;
}

h1 {
    margin-bottom: 50px;
}

.one:hover {
    color: #4A8CAE;
}

.two:hover {
    color: #859D5E;
}

.three:hover {
    color: #D883A2;
}

.four:hover {
    color: #D15353;
}

.five:hover {
    color: #D7A253;
}

.six:hover {
    color: #785986;
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flower {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.text {
    display: block;
    height: 40vh;
    font-family: 'Source Code Pro', monospace;
    font-size: var(--body-copy);
    width: 80%;
    margin: auto;
    padding: auto;
    margin-top: 40px;
}

h2 {
    text-transform: uppercase;
}

.patterndesktop {
    display: none;
}


@media screen and (min-width: 500px ) {
    .content {
        flex-direction: row;
        width: 70vw;
        margin-left: 30vw;
    }

    .pattern {
        display: flex;
        width: 40vw;
        background-image: none;
    }

    .flower {
        display: flex;
        width: 100vw;
        height: 100vh;
    }

    .text {
        display: flex;
        flex-direction: column;
        width: 20vw;
        height: 100vh;
    }

    
}